<div class="page-header">
  <%= link_to students_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atras
  <% end %>
  <h1>Agregar estudiante</h1>
</div>

<%= render 'form', student: @student %>